<!DOCTYPE html>
<html lang="en">

<head th:insert="~{BasePage :: headSection(title=~{::title/text()},script=~{::script},style=~{::style},link=~{::link})}"
	th:remove="tag">
	<title>Test Estimate Hub</title>
	<link th:href="@{/datatable/css/datatables.min.css}" rel="stylesheet" />	
	<link th:href="@{/toastr/css/toastr.min.css}" rel="stylesheet" />
	<script th:src="@{/application/js/common/apiHandling.js}"></script>
	<script th:src="@{/jquery/js/jquery.tmpl.js}"></script>
	<script th:src="@{/toastr/js/toastr.min.js}"></script>
	<script th:src="@{/application/js/common/common.js}"></script>
	<script th:src="@{/application/js/configuration/changeTypeConfigurationProcessing.js}"></script>
	<script th:src="@{/datatable/js/datatables.min.js}"></script>
	<script th:src="@{/datatable/js/dataTables.bootstrap5.min.js}"></script>
	<script>
		$(document).ready(function () {
			changeTypeConfigurationProcessing.init();
		});
	</script>
	<script id="changeTypeConfigurationRecordListTemplate" type="text/template">
		<tr>
			<td>${name}</td>
			<td>${testCaseCountModifier}</td>
			<td>${testStrategyPercentage}%</td>
			<td>${testPlanningPercentage}%</td>
			<td>${managementUpliftPercentage}%</td>
			<td>
				<button class="border-0 bg-transparent" id="editChangeTypeConfiguration_${id}">
					<i class="fa fa-edit"></i> Edit
				</button>
				<button class="border-0 bg-transparent text-danger" id="deleteChangeTypeConfiguration_${id}">
					<i class="fa fa-trash"></i> Delete
				</button>
			</td>
		</tr>
	</script>
	<script id="changeTypeConfigurationRecordListPlaceholder" type="text/template">
		<tr class="placeholder-glow">
			<td><span class="placeholder col-6 bg-dark"></span></td>
			<td><span class="placeholder col-6 bg-dark"></span></td>
			<td><span class="placeholder col-6 bg-dark"></span></td>
			<td><span class="placeholder col-6 bg-dark"></span></td>
			<td><span class="placeholder col-6 bg-dark"></span></td>
			<td><span class="placeholder col-6 bg-dark"></span></td>
		</tr>
	</script>
</head>

<body>
	<input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

	<div th:replace="~{BasePage :: toastContainerSection}"></div>

	<nav th:replace="~{BasePage :: pageHeader(subTitle='User Management')}"></nav>

	<div th:replace="~{BasePage :: sidebar}"></div>

	<div class="modal fade" id="deleteUserConfirmationModal" tabindex="-1" aria-labelledby="putUserModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Delete Application Configuration Record</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="deleteChangeTypeConfigurationDeleteForm">
						<input type="hidden" class="form-control" id="deleteAction_id" name="id" required />
						Confirm delete operation <span id="usernameDisplay"></span>
						<hr>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button id="confirmDeleteChangeTypeConfigurationRecord" type="submit" class="btn btn-danger">Confirm Delete</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade modal-lg" id="addOrEditChangeTypeConfigurationRecordModal" tabindex="-1" aria-labelledby="putUserModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Change Type Configuration Record</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="saveChangeTypeConfigurationForm" autocomplete="off">
						<input type="hidden" class="form-control" id="id" name="id" />
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="name" name="name" required />
							<label for="name">Change Type</label>
						</div>
						<div class="form-floating mb-3">
							<input type="text" class="form-control constraint-numeric" id="testCaseCountModifier" name="testCaseCountModifier" required />
							<label for="testCaseCountModifier">Test Case Count Modifier</label>
						</div>
						<div class="form-floating mb-3">
							<input type="text" class="form-control constraint-numeric" id="testStrategyPercentage" name="testStrategyPercentage" required />
							<label for="testStrategyPercentage">Test Strategy Effort %</label>
						</div>
						<div class="form-floating mb-3">
							<input type="text" class="form-control constraint-numeric" id="testPlanningPercentage" name="testPlanningPercentage" required />
							<label for="testPlanningPercentage">Test Planning Effort %</label>
						</div>
						<div class="form-floating mb-3">
							<input type="text" class="form-control constraint-numeric" id="managementUpliftPercentage" name="managementUpliftPercentage" required />
							<label for="managementUpliftPercentage">Management Uplift %</label>
						</div>
						<hr>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button id="saveChangeTypeConfiguration" type="submit" class="btn btn-primary">Save changes</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="p-3" id="changeTypeConfigurationContent">
		<button class="btn btn-sm btn-primary" id="addChangeTypeConfigurationRecordButton">
			<i class="fa fa-plus"></i> Add Change Type Configuration Record
		</button>
		<br>
		<br>
		<table class="table table-striped" id="changeTypeConfigurationRecordTable">
			<caption>Application Configuration Records</caption>
			<thead>
				<tr>
					<th>Change Type</th>
					<th>Test Case Count Modifier</th>
					<th>Test Strategy Effort</th>
					<th>Test Planning Effort</th>
					<th>Management Uplift</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody id="changeTypeConfigurationRecordTableBody">
			</tbody>
		</table>
	</div>
</body>

</html>